<!doctype html>
html
  head
    meta(charset="utf-8")
    title Web Audio Equalizer
    link(rel="stylesheet", href="css/styles.min.css")
  body
    h2 hello
    #app
      {{message}}
    script(src="../vendor/vue.js")
    script(src="scripts.min.js")
