<!doctype html>
html
  head

    meta(charset="utf-8")
    title Web Audio Equalizer
    link(rel="stylesheet", href="css/styles.min.css")
  body
    h2 hello
    #app {{message}}

    canvas#eq(height="400", width="600")

    section.audio-controls
      button.play Play
      button.stop Stop
    script(src="vendor/vue.js")    
    script(src="js/scripts.min.js")
