// Grid Settings Overrides for Neat

@import "neat-helpers";

$visual-grid: false !global;

$visual-grid-color: red !global;

$visual-grid-index: back !global;

$visual-grid-opacity: 0.4 !global;

// // Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 10;
// $max-width: em(1088);

// em(1088);

// // Neat Breakpoints
// $mobile: new-breakpoint(min-width);
// $mobile-up: new-breakpoint(min-width 0px 4);
// $tablet-up: new-breakpoint(min-width 460px 8);
// $phablet-up: new-breakpoint(min-width 768px 12);
// $laptop-up: new-breakpoint(min-width 1024px 16);
// $desktop-up: new-breakpoint(min-width 1500px 16);
